/* ====== BUTTONS ====== */
button {
  padding: 7px 14px;
  background: #0b74de;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

button:hover {
  background: #095bb8;
}

/* ====== CONTENT ====== */
/* ====== FLOATING ACTION BUTTON ====== */
/* ====== NAVIGATION BUTTONS ====== */